<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Crocusoft_Task</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Crocusoft_Task.styles.css" asp-append-version="true" />
</head>
<body>
<div class="row" style="margin-top:85px;margin-left:0px;margin-right:0px">
    <div class="col-md-5 offset-md-3">
        <div class="card login-logout-tab">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Auth" asp-action="SignIn">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Register" asp-controller="Auth">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="card-content">
                <div class="row" >
                    <div class="col-md-12" style="margin-left:100px;padding:20px 0 20px 0">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
