
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@using DTOs.AuthDto
@model UserLoginDto
<style>
    .login-card-description {
        font-size: 40px;
        color: #000;
        font-weight: bolder;
        margin-bottom: 23px;
    }

    .container {
        margin-top: 100px;
    }
</style>
@if (ViewBag.LoginMessage != null)
{
    <script type="text/javascript" charset="UTF-8">
        window.onload = function () {
            alert("@ViewBag.LoginMessage");
        };
    </script>
}
<main class="d-flex align-items-center py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="~/AdminLTE-3.0.4/images/login.png" alt="login" class="login-card-img" style="object-fit: contain">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper">
                        </div>
                        <p class="login-card-description">Login</p>
                        <form asp-action="SignIn" asp-asp-controller="Auth" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label>Username</label>
                                <input asp-for="Username" class="form-control" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-4">
                                <label>Password</label>
                                <input asp-for="Password" class="form-control" type="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" style="width:100%">Log in</button>
                            </div>
                        </form>
                        <div>
                            <a asp-action="Register" asp-controller="Auth">Create new account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>