@* @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using crocusofttask2.DTOs.AlbomDtos
@model List<AlbomToListDto>
<a href="/Collection/RegistrationAlbom" class="btn btn-outline-dark" style="margin-bottom:10px;margin-left:15px">Add</a>
@{
    int i = 0;
}
<div class="row albom" style="margin:0">

    @foreach (var p in Model)
    {
        if (i > 0 && i % 3 == 0)
        {
            @:<div class="row" style="margin-top:20px"> </div>
        }
        <a href="@Url.Action("PhotoList", "Collection", new { id = p.AlbomId })" class="hyperlinks">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="/files/@p.AlbomImagePath" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">@p.AlbomName</p>
                    </div>
                    @Html.ActionLink("Delete", "DeleteAlbom", "Collection", new { id = p.AlbomId }, new { @class = "btn btn-danger" })
                </div>
            </div>
        </a>
        i++;

    }
</div>
 *@