@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using DTOs.AlbumDtos
@model List<AlbumToListDto>
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal" data-url="@Url.Action("AddAlbum","Collection")">Add </button>

<style>
    .row{
        margin-left:0px!important;
        margin-right:0px!important;
        margin-top: 20px;
    }
</style>
<div class="row" >
    @foreach (var p in Model)
    {
        <div class="col-md-3" >
            <a href="@Url.Action("Index", "Photo", new { id = p.AlbumId })" class="hyperlinks">
                <div class="card">
                    <img src="/files/@p.CoverImagePath" class="card-img-top" alt="..." width="280px" height="280px">
                    <div class="card-body">
                        <p class="card-text">@p.Title</p>
                    </div>
                    @Html.ActionLink("Delete", "DeleteAlbum", "Collection", new { id = p.AlbumId }, new { @class = "btn btn-danger" })
                </div>
            </a>
        </div>

    }
</div>
<section>
    <div class="content">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span></button>
                    </div>
                    <div class="modal-body">
                        <div id="myPartialViewContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(function () {
        $('#myModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Düğme elementini al
            var url = button.data('url'); // Partial view'in URL'sini al
            var modal = $(this); // Modal elementini al
            // Partial view'i yükle
            $.get(url).done(function (data) {
                modal.find('#myPartialViewContainer').html(data); // Partial view'i modal içine yerleştir
            });
        });
    });
</script>